body{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
}
nav{
height: 60px;
}
.logobox{
    width: 70px;
    height: 10px;
}
.flipkartlogo{
    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.4;
    font-weight: bolder;
    font-style: italic;
}
.explore{
    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-size: 10px;
    font-weight: lighter;
    font-style: italic;
}
.plus{
    color:yellow;
    font-family: Roboto,Arial,sans-serif;
    font-size: 10px;
    font-weight: lighter;
    font-style: italic;
}
input{
    width: 300px;
    height: 25px;
    background-color: white;
}
.search{
    /* background-color: white; */
    width: 20px;
    height:25px ;
    
}
.subnav{
    background-color: white;
    height: 45px;

}
.container{
background-color: yellow;
max-width: 100%;
height: 100vh;
}
.filterpage{
    background-color: antiquewhite;
    width: 300px;
    height: 100vh;
}
.productpage{
    background-color: azure;
    width: 800px;
    height:100vh ;
}